<html>
  <head>
    <title>Caoimhe's Colouring Pages</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}"/>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <style>
      b {
        color: black;
        font-family: 'Special Elite', cursive;
        font-size: 26px;
        font-weight: bold;
      } 

      .input-field input:focus + label {
        color: #27AAE1 !important;
      }

      .row .input-field input:focus {
        border-bottom: 1px solid #27AAE1 !important;
        box-shadow: 0 1px 0 0 #27AAE1 !important
      }
    </style>
  </head>

  <body>    
    <div class="container">

      <!-- Floating Red Print Button --->
      <div class="fixed-action-btn" data-position="left" data-tooltip="Upload Image">
        <a href="{{ url_for('printer', image_path=thumbnail.get_file_path()) }}" class="btn-floating btn-large green">
          <i class="large material-icons">print</i>
        </a>
      </div>

      <div class="row" align="middle">
        &nbsp;<br>
        &nbsp;<br>
        &nbsp;<br>
        &nbsp;<br>
      </div>  

      <!--- The top header row --->
      <div class="row" align="middle">
        <div class="col s8 offset-s2" align="center">
          <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" height="75" align="middle">
          </a>
          &nbsp;&nbsp;&nbsp;
          <b>Caoimhe's Colouring Pages</b>
        </div>
      </div>

      <div class="row" align="middle">
        &nbsp;<br>
      </div>     

      <!--- The right hand menu --->
      <div class="row" align="middle">

        <form class="col s10" action="/search" method="post" enctype="multipart/form-data" name="search_form" id="search_form">
          <div class="input-field col s6 offset-s3">
            <input id="search_text" name="search_text" type="text" class="autocomplete">
            <label for="search_text">Image to Find</label>
          </div>

          <div class="input-field col s1">
            <button class="btn blue waves-effect waves-light" type="submit" name="action">
              <i class="material-icons middle">search</i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <hr><br>
    <div class="row" align="middle">
      <img src="{{ thumbnail.get_thumbnail_path() }}" align="middle" class="class="responsive-img p-4">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize Materialize Autocomplete
            var elems = document.querySelector('.autocomplete');
            var instance = M.Autocomplete.init(elems, {
                data: {},  // Initialize with an empty object
                limit: 5,   // Limit the number of suggestions
                onAutocomplete: function(text) {
                    // Callback function when an option is selected
                    console.log("Autocomplete selected:", text);
                }
            });

            // Add an event listener to the input field for user input
            document.getElementById('search_text').addEventListener('input', function() {
                // Fetch autocomplete data from Flask route
                var query = this.value;
                fetch('/autocomplete?query=' + query)
                    .then(response => response.json())
                    .then(data => {
                        // Update Materialize Autocomplete data
                        var autocompleteData = {};
                        data.forEach(item => {
                            autocompleteData[item[0]] = null;
                        });
                        instance.updateData(autocompleteData);
                    });
            });
        });
    </script>

</body>
</html>
